@rendermode InteractiveServer

<h1>Dashboard</h1>
<table>
    <thead>
        <tr>
            <td><button @onclick="OrderById">order by id</button></td>
            <td><button @onclick="OrderByName">order by name</button></td>
        </tr>
    </thead>
    <body>
    @foreach(var toDoItem in toDoItems)
    {
        <tr>
            <td>@toDoItem.ToDoItemId</td>
            <td>@toDoItem.Name</td>
            <td>@toDoItem.Description</td>
            <td>@toDoItem.IsCompleted</td>

        </tr>
    }
    </body>
</table>

@code
{
    private List<ToDoItemView> toDoItems = [
        new ToDoItemView() {ToDoItemId = 1,Name = "Udělat úkol pro czechitas.", IsCompleted = false},
        new ToDoItemView() {ToDoItemId = 2, Name = "Spát alespoň 8 hodin.", IsCompleted = true},
        new ToDoItemView() {ToDoItemId = 3, Name = "Vstávat v 06:00.", IsCompleted = false},
        new ToDoItemView() {ToDoItemId = 4, Name = "Jíst zdravě", IsCompleted = true}
    ];

    public class ToDoItemView
    {
        public int ToDoItemId { get; set; }
        public string Name { get; set; }
        public string Description { get; set; }
        public bool IsCompleted { get; set; }
    }

    public void OrderByName()
    {
        toDoItems = toDoItems.OrderBy(ukol => ukol.Name).ToList();
    }

    public void OrderById()
    {
        toDoItems = toDoItems.OrderBy(ukol => ukol.ToDoItemId).ToList();
    }



}
